.sg-alert-dialog-container {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-left: -200px !important;
  margin-top: -89px !important;
  height: 178px !important;
}

.sg-alert-dialog .sg-alert-dialog-container .sg-alert-dialog-bottom .sg-alert-dialog-bottom-container .sg-alert-dialog-bottom-container-close-btn {
  font-size: 14px;
  background-color: #926c2d;
  &:hover {
    background-color: #78551c;
  }
}