.sg-alert-dialog-container {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-left: -200px !important;
  margin-top: -89px !important;
  height: 178px !important;
  animation: .3s modal-animation forwards !important;
}

.sg-alert-dialog .sg-alert-dialog-container .sg-alert-dialog-bottom .sg-alert-dialog-bottom-container .sg-alert-dialog-bottom-container-close-btn {
  font-size: 16px;
  background-color: $dark;
  &:hover {
    background-color: $mirage;
  }
}

.sg-alert-dialog .sg-alert-dialog-container .sg-alert-dialog-bottom .sg-alert-dialog-bottom-container .sg-alert-dialog-bottom-container-cancel-btn {
  margin-right: 5px;
  font-size: 16px;
  color: $slate-grey;
  background-color: $anthens-gray;
  &:hover {
    background-color: $pale-grey-two;
  }
}

.sg-alert-dialog .sg-alert-dialog-container .sg-alert-dialog-bottom .sg-alert-dialog-bottom-container .sg-alert-dialog-bottom-container-action-btn {
  margin-left: 5px;
  font-size: 16px;
  background-color: $dark;
  &:hover {
    background-color: $mirage;
  }
}

.active-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  @include background();
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  &.background {
    opacity: 1;
  }
}

.select-wrap {
  background-image: url(/pages/main/assets/images/icons/desktop-hd-copy-8@2x.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 10px;
  background-position-x: 275px;
  &:hover {
    background-color: $light-pink !important;
  }
  &.placeholder {
    select {
      color: $g-color-placeholder;
    }
  }
}

.select {
  position: relative;
  border: none;
  padding: 5px 8px;
  width: 130%;
  height: 100%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.manage-title-wrap {
  position: relative;
  height: 47px;
  h2 {
    height: 47px;
    font-size: 32px;
    font-weight: 500;
  }
}

.list-title-wrap {
  position: relative;
  padding: 25px 20px 20px 20px;
}

.modal-close-button {
  position: absolute;
  bottom: 43px;
  left: 50%;
  margin-left: -44px;
  width: 88px;
  height: 88px;
  @include background();
  background-image: url(/pages/main/assets/images/icons/ic-close-88@2x.png);
  opacity: .7;
  cursor: pointer;
  -webkit-transition: opacity .1s;
  -moz-transition: opacity .1s;
  -ms-transition: opacity .1s;
  -o-transition: opacity .1s;
  transition: opacity .1s;
  &:hover {
    opacity: 1;
  }
}

._720kb-datepicker-calendar {
  display: none;
  visibility: visible;
}

._720kb-datepicker-calendar._720kb-datepicker-forced-to-open, ._720kb-datepicker-calendar._720kb-datepicker-open {
  display: block;
  visibility: visible;
}