.sg-alert-dialog-container {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-left: -200px !important;
  margin-top: -89px !important;
  height: 178px !important;
}