// color
$white: #fff;
$light-pink: #fffbfb;
$light-rose: #ffc7c9;
$pig-pink: #f0abad;
$pig-pink-two: #e89d9f;
$sea-pink: #e99d9f;
$dodger-blue: #5395ff;
$dodger-blue-two: #438bff;
$aluminium: #a7aab2;
$slate-grey: #646771;
$slate-grey-two: #5a595e;
$dark: #2b313e;
$mirage: #171b25;
$wild-sand: #f4f4f4;
$anthens-gray: #eef0f4;
$mercury: #e6e6e6;
$pale-grey: #f6f8f9;
$pale-grey-two: #e6e8ee;
$pale-grey-three: #eceef2;
$dark-grey: #242328;
$dark-two: #1c202a;
$warm-grey: #979797;
$cool-grey: #8c8f96;
$pale-grey-four: #e3e5ea;
$silver-three: #d2d4d8;
$purpley-grey: #908e96;
$very-light-pink: #ffeded;

// navigation
$g-navigation-width: 210px;
$g-navigation-logo-height: 104px;

// placeholder
$g-color-placeholder: $aluminium;

// media query
$g-media-query-max-width: 1599px;
$g-media-query-min-width: 1600px;