// header & footer
$g-header-size: 50px;
$g-footer-size: 50px;
$g-without-footer-size: calc(100% - 50px);

// navigation
$g-navigation-size: 180px;
$g-without-navigation-size: calc(100% - 180px);

// placeholder
$g-color-placeholder: #bec1c5;