@import "../../../../../../core/client/assets/stylesheets/import";
@import '../../../../../../core/client/assets/stylesheets/components';
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import "constants";
@import "mixin";

@import "common";

@import "layouts";
@import "contents";
@import "directives";
@import "modals";
@import "animation";

* {
  box-sizing: border-box;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

html,
body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  padding-top: $g-header-size;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: $pale-grey;
  color: $mirage;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, ul, li, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

textarea,
select,
input,
button {
  outline: none !important;
  border: 0;
  padding: 0;
  background-color: transparent;
}

select {
  border-radius: 0;
  color: $dark;
}

input::-ms-clear {
  display: none;
}

a {
  text-decoration: none !important;
}

:-ms-input-placeholder {
  color: $g-color-placeholder;
  opacity: 1;
}

::-moz-placeholder {
  color: $g-color-placeholder;
  opacity: 1;
}

:-moz-placeholder {
  color: $g-color-placeholder;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: $g-color-placeholder;
  opacity: 1;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

#sg-main-wrap {
  position: relative;
}

@media screen and (min-width: 769px) {
  body {
    overflow-y: hidden;
  }
  #sg-main-wrap {
    height: 100%;
    overflow-y: auto;
  }
}