<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" class="ng-app:app" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1"/>
    <base href="/">
    <title>Sample App</title>
    <script type="text/javascript">

    </script>
</head>
<body>
admin
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!-- inject:js -->
<!-- endinject -->
</body>
</html>
