#pet-wrap {
  div.pet-list-item-1 {
    padding-bottom: 16px;
    div.pet-image-wrap {
      position: absolute;
      border: 2px solid $warm-grey;
      border-radius: 50%;
      width: 64px;
      height: 64px;
      overflow: hidden;
    }
    div.pet-info {
      position: relative;
      padding-top: 6px;
      padding-left: 80px;
      height: 64px;
      p {
        &:nth-of-type(1) {
          font-size: 18px;
          span {
            font-size: 14px;
          }
        }
        &:nth-of-type(2) {
          font-size: 14px;
        }
      }
    }
  }
  div.pet-list-item-2 {
    border-top: 1px solid $pale-grey-three;
    padding-top: 16px;
    ul {
      li {
        position: relative;
        margin-top: 16px;
        height: 17px;
        &:first-of-type {
          margin-top: 0;
        }
        p {
          font-size: 14px;
          line-height: 17px;
          &:nth-of-type(1) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
          }
          &:nth-of-type(2) {
            padding-left: 100px;
          }
        }
      }
    }
  }
}