#poo-manage-wrap {
  position: relative;
  margin: 0 auto;
  padding-top: 70px;
  max-width: 960px;
  div.list-title-wrap {
    @include after-clear();
    span {
      position: relative;
      display: block;
      font-size: 14px;
      font-weight: 500;
      float: left;
      &:nth-of-type(1) {
        width: 29%;
      }
      &:nth-of-type(2) {
        width: 29%;
      }
      &:nth-of-type(3) {
        width: 29%;
      }
      &:nth-of-type(4) {
        width: 13%;
      }
    }
  }
}

#add-poo-button {
  position: absolute;
  top: 3.5px;
  right: 0;
  border-radius: 100px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  background-color: #926c2d;
  color: white;
  cursor: pointer;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 17px;
  &:hover {
    background-color: #7d591c;
  }
}

#poo-manage-list {
  position: relative;
  li {
    position: relative;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 12px 20px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.17);
    background-color: white;
    cursor: pointer;
    -webkit-transition: transform .3s, box-shadow .2s;
    -moz-transition: transform .3s, box-shadow .2s;
    -ms-transition: transform .3s, box-shadow .2s;
    -o-transition: transform .3s, box-shadow .2s;
    transition: transform .3s, box-shadow .2s;
    transform-origin: bottom;
    @include after-clear();
    &:hover {
      -webkit-transform: translate3d(0, -1px, 0) scale3d(1.01, 1.01, 1);
      -moz-transform: translate3d(0, -1px, 0) scale3d(1.01, 1.01, 1);
      -ms-transform: translate3d(0, -1px, 0) scale3d(1.01, 1.01, 1);
      -o-transform: translate3d(0, -1px, 0) scale3d(1.01, 1.01, 1);
      transform: translate3d(0, -1px, 0) scale3d(1.01, 1.01, 1);
      box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.17);
    }
    div.poo-manage-item {
      position: relative;
      float: left;
      @include after-clear();
      div.default-image-wrap {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        border: solid 1px #979797;
        width: 40px;
        height: 40px;
        overflow: hidden;
        float: left;
      }
      p.poo-list-pet-name {
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
      }
      p.poo-list-empty {
        position: relative;
        padding-right: 10px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &:nth-of-type(1) {
        padding-left: 40px;
        width: 29%;
      }
      &:nth-of-type(2) {
        width: 29%;
      }
      &:nth-of-type(3) {
        width: 29%;
      }
      &:nth-of-type(4) {
        width: 13%;
      }
    }
  }
}