$g-color-sign-up-background: #f4f5f8;
$g-color-sign-up-window-background: rgba(255, 255, 255, .7);
$g-color-sign-up-input-border: #ccc;
$g-color-sign-up-input-border-focus: #d2b76d;

#sign-up-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: $g-color-sign-up-background;
}

#sign-up-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, .14);
}

#sign-up-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -295px;
  margin-left: -70px;
  border: 3px solid #979797;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  z-index: 4;
  @include background();
  background-color: black;
}

#sign-up-window {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -225px;
  border-radius: 5px;
  padding: 90px 28px 0 28px;
  width: 450px;
  height: 440px;
  background-color: $g-color-sign-up-window-background;
  box-shadow: 0 2px 4px 0 #4a3600;
  z-index: 3;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  &.focus {
    background-color: white;
  }
  h2 {
    position: relative;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 28px;
    color: #2e2e2e;
  }
}

div.sign-up-input-wrap {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid $g-color-sign-up-input-border;
  width: 100%;
  height: 60px;
  overflow: hidden;
  &.focus {
    border-color: $g-color-sign-up-input-border-focus;
  }
  input.sign-up-input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: transparent;
  }
  span {
    position: absolute;
    top: 26px;
    left: 0;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    color: #a4a4a4;
    z-index: 1;
    pointer-events: none;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: transform .3s, color .3s;
    -moz-transition: transform .3s, color .3s;
    -ms-transition: transform .3s, color .3s;
    -o-transition: transform .3s, color .3s;
    transition: transform .3s, color .3s;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    &.focus {
      -webkit-transform: translate3d(0, -26px, 0) scale3d(.7, .7, 1);
      -moz-transform: translate3d(0, -26px, 0) scale3d(.7, .7, 1);
      -ms-transform: translate3d(0, -26px, 0) scale3d(.7, .7, 1);
      -o-transform: translate3d(0, -26px, 0) scale3d(.7, .7, 1);
      transform: translate3d(0, -26px, 0) scale3d(.7, .7, 1);
      color: #a78c41;
    }
  }
}

#sign-up-button-wrap {
  position: relative;
  height: 150px;
  span {
    border-bottom: 1px solid transparent;
    font-size: 16px;
    font-weight: 400;
    &.sign-up-term-button {
      color: #4ba8f8;
      cursor: pointer;
      &:hover {
        color: #2899fb;
        border-color: #2899fb;
      }
    }
  }
  p {
    text-align: center;
  }
  #sign-up-explain-1 {
    padding-top: 9px;
    font-size: 0;
  }
}

#sign-up-login {
  position: absolute;
  bottom: 38px;
  left: 0;
  border-bottom: 1px solid transparent;
  height: 21px;
  font-size: 16px;
  color: #4ba8f8;
  cursor: pointer;
  &:hover {
    color: #2899fb;
    border-color: #2899fb;
  }
}

#sign-up-button {
  position: absolute;
  bottom: 28px;
  right: 0;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  background-color: #d2b46d;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: #ba994d;
  }
}