<section id="detail-pet-wrap" data-ng-if="modal.detail" data-ng-controller="DetailPetCtrl">
    <div id="detail-pet-window" class="modal-animation" data-ng-if="ready">
        <div id="detail-pet-scroll">
            <div id="detail-pet-update-wrap">
                <div id="detail-pet-image-wrap"
                     nv-file-drop nv-file-over file-over
                     over-class="file-over"
                     uploader="imageUploader">
                    <div class="detail-pet-image"
                         data-ng-if="form.image"
                         data-ng-style="{'background-image': 'url(' + (form.image | imageUrl) + ')'}"></div>
                    <div class="detail-pet-upload"></div>
                    <input class="detail-pet-image-input"
                           type="file"
                           nv-file-select
                           uploader="imageUploader">
                </div>
                <form id="detail-pet-update" data-ng-submit="updatePet()">
                    <label for="detail-pet-name" class="detail-pet-label">{{ 'detailPetName' | translate }}</label>
                    <div class="detail-pet-input-wrap" data-ng-class="{'focus': focus.petName || form.petName}">
                        <input type="text"
                               id="detail-pet-name"
                               class="detail-pet-input"
                               data-ng-focus="inputFocus('petName')"
                               data-ng-blur="inputBlur('petName')"
                               data-ng-model="form.petName"
                               placeholder="{{ 'detailPetName' | translate }}">
                    </div>
                    <div class="detail-pet-220">
                        <label for="detail-pet-series" class="detail-pet-label">{{ 'detailPetSeries' | translate }}</label>
                        <div class="detail-pet-input-wrap select-wrap select-wrap-220" data-ng-class="{'focus': form.petSeries}">
                            <select id="detail-pet-series" class="select" data-ng-model="form.petSeries">
                                <option data-ng-repeat="petSeries in enumPetSeries" value="{{ petSeries }}">{{ petSeries }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="detail-pet-70">
                        <label for="detail-pet-gender" class="detail-pet-label">{{ 'detailPetGender' | translate }}</label>
                        <div class="detail-pet-input-wrap select-wrap select-wrap-70" data-ng-class="{'focus': form.petGender}">
                            <select id="detail-pet-gender" class="select" data-ng-model="form.petGender">
                                <option data-ng-repeat="petGender in enumPetGenders" value="{{ petGender }}">{{ petGender | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <label class="detail-pet-label">{{ 'detailPetBirthDate' | translate }}</label>
                    <div class="detail-pet-140">
                        <div class="detail-pet-input-wrap select-wrap select-wrap-140" data-ng-class="{'focus': form.petBirthDateYear}">
                            <select class="select" data-ng-model="form.petBirthDateYear">
                                <option data-ng-repeat="year in enumPetBirthDateYears" value="{{ year }}">{{ year }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="detail-pet-70 left">
                        <div class="detail-pet-input-wrap select-wrap select-wrap-70" data-ng-class="{'focus': form.petBirthDateMonth}">
                            <select class="select" data-ng-model="form.petBirthDateMonth">
                                <option data-ng-repeat="month in enumPetBirthDateMonths" value="{{ month }}">{{ month }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="detail-pet-70 left">
                        <div class="detail-pet-input-wrap select-wrap select-wrap-70" data-ng-class="{'focus': form.petBirthDateDay}">
                            <select id="detail-pet-birth-date-day" class="select" data-ng-model="form.petBirthDateDay">
                                <option value="" disabled hidden selected>{{ 'day' | translate }}</option>
                                <option data-ng-repeat="day in enumPetBirthDateDays" value="{{ day }}">{{ day }}</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" id="detail-pet-update-button">
                        {{ 'edit' | translate }}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <button type="button" class="modal-close-button" data-ng-click="modal.detail = false"></button>
</section>