<article id="select-pet-wrap" data-ng-controller="SelectPetCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}">
        <div class="modal-vertical-align-wrap">
            <div class="modal-vertical-align">
                <div id="select-pet" class="modal-item" data-ng-if="isOpen">
                    <button type="button" class="modal-close-button" data-ng-click="close()"></button>
                    <div class="content-manage-wrap">
                        <div class="content-manage-item-wrap">
                            <select-box ng-class="filter" ng-model="form.petGender" ng-enum="enumPetGenders"></select-box>
                            <select-box ng-class="filter" ng-model="form.petSeries" ng-enum="enumPetSeries"></select-box>
                            <select-box ng-class="filter" ng-model="form.vaccination" ng-enum="enumVaccinations"></select-box>
                            <select-box ng-class="filter" ng-model="form.neuter" ng-enum="enumNeuters"></select-box>
                            <search-input ng-model="form.searchItem" ng-placeholder="이름으로 검색" ng-func="reload"></search-input>
                        </div>
                        <p>총 {{ pets.count | number }}건</p>
                    </div>
                    <div class="content-list-wrap">
                        <ul class="half-card-wrap">
                            <li data-ng-if="isFilter" data-ng-click="selectPet()">
                                <p class="no-select">선택 안함</p>
                            </li>
                            <li data-ng-repeat="item in pets.rows" data-ng-click="selectPet(item)">
                                <div class="pet-image-wrap">
                                    <default-image data-ng-if="!item.image" ng-id="item.id"></default-image>
                                    <div class="pet-image" data-ng-if="item.image" data-ng-style="{'background-image': 'url(' + (item.image | imageUrl: 'm') + ')'}"></div>
                                </div>
                                <div class="pet-info-wrap">
                                    <div class="pet-base">{{ item.petName }} <span>({{ item.petGender }})</span></div>
                                    <div class="pet-sub">
                                        <span>종: {{ item.petSeries || '-' }}</span>
                                        <span>접종: {{ item | vaccination: '1차': '2차': '3차': 'X' }}</span>
                                        <span>중성화: {{ item | neuter: 'O': 'X' }}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <more ng-more="more" ng-func="findPets"></more>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>