#navigation-wrap {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: $g-navigation-width;
  height: 100%;
  background-color: $pale-grey;
  box-shadow: 0 0 5px 0 rgba(176,194,200,.49);
  z-index: 10;
}

#navigation-logo-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $g-navigation-logo-height;
  overflow: hidden;
  h1 {
    margin-top: 3000px;
  }
  div {
    position: relative;
    margin: 30px auto 0 auto;
    width: 72px;
    height: 44px;
    @include background();
    background-image: url(/pages/main/assets/images/logo-72-44@2x.png);
  }
}

#navigation-item-wrap {
  position: relative;
  padding-top: $g-navigation-logo-height;
  width: 100%;
  ul {
    border-top: 1px solid $pale-grey-three;
    li {
      height: 48px;
      line-height: 48px;
      font-size: 16px;
      cursor: pointer;
      -webkit-transition: all .1s;
      -moz-transition: all .1s;
      -ms-transition: all .1s;
      -o-transition: all .1s;
      transition: all .1s;
      a {
        display: block;
        padding-left: 24px;
        width: 100%;
        height: 100%;
        &:hover {
          background-color: $pale-grey-three;
        }
        &.current {
          font-weight: 500;
          color: $dark-grey;
          background-color: $pale-grey-three;
        }
      }
    }
  }
}