<article id="login-wrap" data-ng-controller="LoginCtrl">
    <div class="active-background" data-ng-class="{'background': active[0]}" data-ng-style="style[0]"></div>
    <div class="active-background" data-ng-class="{'background': active[1]}" data-ng-style="style[1]"></div>
    <div id="login-overlay"></div>
    <div id="login-icon"></div>
    <div id="login-window" data-ng-class="{'focus': focus.id || focus.pw || form.id || form.pw}">
        <h2>로그인</h2>
        <form data-ng-submit="login()">
            <div class="login-input-wrap" data-ng-class="{'focus': focus.id || form.id}">
                <input type="text"
                       id="login-input-id"
                       class="login-input"
                       data-ng-focus="inputFocus('id')"
                       data-ng-blur="inputBlur('id')"
                       data-ng-model="form.id"/>
                <span data-ng-class="{'focus': focus.id || form.id}">아이디</span>
            </div>
            <div class="login-input-wrap" data-ng-class="{'focus': focus.pw || form.pw}">
                <input type="password"
                       id="login-input-pw"
                       class="login-input"
                       data-ng-focus="inputFocus('pw')"
                       data-ng-blur="inputBlur('pw')"
                       data-ng-model="form.pw"/>
                <span data-ng-class="{'focus': focus.pw || form.pw}">비밀번호</span>
            </div>
            <div id="login-button-wrap">
                <button id="login-find-pass-button" type="button" data-ng-click="findPass()">비밀번호찾기</button>
                <button id="login-button" type="submit">로그인</button>
                <span id="login-sign-up-explain">아직 회원이 아니신가요?</span>
                <button id="login-sign-up-button" type="button" data-ng-click="signUp()">회원가입하기</button>
            </div>
        </form>
    </div>
</article>