<section id="pet-manage-wrap" data-ng-controller="PetManageCtrl">
    <div class="manage-title-wrap">
        <h2>{{ 'petManageTitle' | translate }}</h2>
        <button type="button" id="add-pet-button" data-ng-if="ready && pets.count" data-ng-click="openModal('add')">{{ 'doAddPet' | translate }}</button>
    </div>
    <button type="button" id="add-pet-button-card" data-ng-if="ready && !pets.count" data-ng-click="openModal('add')">{{ 'doAddPet' | translate }}</button>
    <ul id="pet-manage-list">
        <li data-ng-repeat="pet in pets.rows" data-ng-click="openModal('detail', $index)">
            <div class="pet-image-wrap">
                <div class="pet-image"
                     data-ng-if="pet.image"
                     data-ng-style="{'background-image': 'url(' + (pet.image | imageUrl) + ')'}"></div>
                <!--<img data-ng-if="pet.image" data-ng-src="{{ pet.image | imageUrl: 'l' }}">-->
            </div>
            <div class="pet-info-wrap">
                <h4>{{ pet.petName }} <span data-ng-if="pet.petGender">({{ pet.petGender | translate }})</span></h4>
                <p class="pet-info">
                    <span class="pet-info-title">{{ 'petSeries' | translate }}</span>
                    <span class="pet-info-content">{{ pet.petSeries }}</span>
                </p>
                <p class="pet-info">
                    <span class="pet-info-title">{{ 'petBirthDate' | translate }}</span>
                    <span class="pet-info-content">{{ pet.petBirthDate | date: 'yyyy.MM.dd' }}</span>
                </p>
                <p class="pet-info">
                    <span class="pet-info-title">{{ 'isVaccination' | translate }}</span>
                    <span class="pet-info-content">{{ pet | vaccination }}</span>
                </p>
            </div>
        </li>
    </ul>
    <ng-include src="'/pages/main/views/modals/add-pet.html'"></ng-include>
    <ng-include src="'/pages/main/views/modals/detail-pet.html'"></ng-include>
</section>