poo-calendar {
  position: relative;
  display: block;
  margin-top: 45px;
  height: 303px;
  div.select-year-month-wrap {
    position: relative;
    height: 40px;
    background-color: $pig-pink;
  }
  div.calendar-list-wrap {
    position: relative;
    height: calc(100% - 40px);
    @include after-clear();
    div.calendar-wrap {
      padding: 10px;
      width: 50%;
      height: 100%;
      float: left;
      div.calendar-header {
        ul {
          position: relative;
          @include after-clear();
          li {
            position: relative;
            width: 14.285%;
            height: 25px;
            text-align: center;
            float: left;
            &:nth-of-type(7),
            &:nth-of-type(1) {
              color: $pig-pink;
            }
          }
        }
      }
      div.calendar-body {
        ul {
          position: relative;
          margin-top: 10px;
          @include after-clear();
          li {
            position: relative;
            width: 14.285%;
            height: 25px;
            line-height: 25px;
            text-align: center;
            float: left;
            &.button {
              cursor: pointer;
              &:hover {
                p {
                  color: white;
                }
                div.circle {
                  opacity: 1;
                }
              }
            }
            &:nth-of-type(7),
            &:nth-of-type(1) {
              color: $pig-pink;
            }
            p {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 25px;
              line-height: 25px;
              -webkit-transition: color .1s;
              -moz-transition: color .1s;
              -ms-transition: color .1s;
              -o-transition: color .1s;
              transition: color .1s;
              z-index: 1;
            }
            div.line {
              position: absolute;
              top: 0;
              left: 50%;
              margin-left: -12.5px;
              border: 1px solid white;
              border-radius: 50%;
              width: 25px;
              height: 25px;
            }
            div.circle {
              position: absolute;
              top: 0;
              left: 50%;
              margin-left: -12.5px;
              border-radius: 50%;
              width: 25px;
              height: 25px;
              opacity: 0;
              -webkit-transition: opacity .1s;
              -moz-transition: opacity .1s;
              -ms-transition: opacity .1s;
              -o-transition: opacity .1s;
              transition: opacity .1s;
            }
          }
        }
      }
    }
    div.list-wrap {
      width: 50%;
      height: 100%;
      background-color: $wild-sand;
      overflow-y: auto;
      float: left;
      ul {
        position: relative;
        padding: 8px;
        li {
          position: relative;
          margin-bottom: 8px;
          border-radius: 5px;
          padding: 0 8px;
          height: 36px;
          background-color: white;
          @include after-clear();
          &:last-child {
            margin-bottom: 0;
          }
          div {
            position: relative;
            display: block;
            height: 100%;
            float: left;
            &:nth-of-type(1) {
              width: 100px;
            }
            &:nth-of-type(2) {
              width: 60px;
            }
            &:nth-of-type(3) {
              width: calc(100% - 160px);
            }
            p {
              position: relative;
              width: 100%;
              height: 100%;
              line-height: 36px;
              text-align: left;
            }
            span {
              position: relative;
              display: block;
              margin-top: 11px;
              border-radius: 7px;
              width: 40px;
              height: 14px;
            }
          }
        }
      }
    }
  }
}