div.poo-info-wrap {
  position: relative;
  div.poo-info-1 {
    position: relative;
    height: 20px;
    @include after-clear();
    div.poo-color {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      float: left;
    }
    p {
      position: relative;
      padding-left: 8px;
      width: calc(100% - 28px);
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
      float: left;
    }
  }
  div.poo-info-2 {
    position: relative;
    height: 20px;
    p {
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}