select.filter {
  border-radius: 5px;
  padding-left: 14px;
  padding-right: 32px;
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: $slate-grey-two;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $pale-grey;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 36px;
  background-image: url(/pages/main/assets/images/select-box/ic-select-arrow-40@2x.png);
  cursor: pointer;
}

select.select {
  border-radius: 3px;
  padding-left: 16px;
  padding-right: 32px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: $slate-grey-two;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $pale-grey;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 36px;
  background-image: url(/pages/main/assets/images/select-box/ic-select-arrow-40@2x.png);
  cursor: pointer;
}