button.select-pet-button {
  &.select {
    border-radius: 3px;
    padding-left: 16px;
    width: 100%;
    font-size: 14px;
  }
  &.filter {
    border-radius: 5px;
    padding-left: 14px;
    width: auto;
    max-width: 300px;
    font-size: 16px;
    overflow: hidden;
  }
  padding-right: 32px;
  height: 40px;
  line-height: 40px;
  color: #5a595e;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #f6f8f9;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 36px;
  background-image: url(/pages/main/assets/images/select-box/ic-select-arrow-40@2x.png);
  cursor: pointer;
}

#select-pet {
  padding: 24px;
  width: 940px;
  div.content-list-wrap {
    ul.half-card-wrap {
      li {
        position: relative;
        margin-bottom: 12px;
        margin-right: 12px;
        padding: 12px;
        width: calc(50% - 6px);
        @include after-clear();
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        p.no-select {
          height: 40px;
          line-height: 40px;
          text-align: center;
        }
        div.pet-image-wrap {
          position: relative;
          border: 1px solid $warm-grey;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          overflow: hidden;
          float: left;
          div.pet-image {
            width: 100%;
            height: 100%;
            @include background();
          }
        }
        div.pet-info-wrap {
          position: relative;
          padding-left: 12px;
          width: calc(100% - 40px);
          height: 40px;
          float: left;
          div.pet-base {
            margin-bottom: 4px;
            height: 20px;
            line-height: 20px;
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            span {
              font-size: 14px;
            }
          }
          div.pet-sub {
            position: relative;
            @include after-clear();
            span {
              height: 16px;
              line-height: 16px;
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              float: left;
              &:nth-of-type(1) {
                width: 50%;
              }
              &:nth-of-type(2),
              &:nth-of-type(3) {
                width: 25%;
              }
            }
          }
        }
      }
    }
    div.more-button-wrap {
      padding-bottom: 0;
      button.more-button {
        width: 120px;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}